{% extends 'base.html.twig' %}
{% block title %}Xml Import!{% endblock %}
{% block body %}
    <style>
        .form {
            width: 400px;
            height: 200px;
            margin: auto;
            text-align: center;
        }
        
        label {
            display: none;
        }
        
        .title {
            margin: auto;
            text-align: center;
        }
        
        .success, .erro {
            margin: 5px;
        }
    </style>
    
    <div class="container body">
        <div class="row justify-content-md-center title">
            <h3>Invillia PHP Challenge</h3>
        </div>

        <div class="row justify-content-md-center success">
            {% if success ?? false %}
                <div style="background-color: #23bf5d; width: 260px; padding: 2px;">
                    <p style="color: #F2F2F2">{{ success }}</p>
                </div>
            {% endif %}
        </div>

        <div class="row justify-content-md-center erro">
            {% if error ?? false %}
                <div style="background-color: #6c1313; width: 200px; padding: 3px;">
                    <p style="color: #F2F2F2">{{ error }}</p>
                </div>
            {% endif %}
        </div>

        <div class="row justify-content-md-center form form-controll">
            {{ form_start(form, {'method': 'POST'}) }}
            {{ form_row(form.file) }}
            {{ form_row(form.submit) }}
            {{ form_end(form) }}
        </div>
    </div>

{% endblock %}

